Tutorial on using Pandas in QSTK from:
        http://wiki.quantsoftware.org/index.php?title=Pandas_Tutorial

In [2]:
import pandas as pd
import datetime as dt
import numpy as np

In [6]:
ldt_timestamps = []

In [7]:
for i in range (1, 6):
    ldt_timestamps.append(dt.datetime(2011, 1, i, 16))

In [8]:
print "The index we created has the following dates: "
print ldt_timestamps
print

The index we created has the following dates:
[datetime.datetime(2011, 1, 1, 16, 0), datetime.datetime(2011, 1, 2, 16, 0), datetime.datetime(2011, 1, 3, 16, 0), datetime.datetime(2011, 1, 4, 16, 0), datetime.datetime(2011, 1, 5, 16, 0)]

In [10]:
# Time Series
ts_single_value = pd.TimeSeries(0.0, index = ldt_timestamps)
print "A timeseries initialized to one single value: "

A timeseries initialized to one single value:

In [14]:
na_vals = np.arange(len(ldt_timestamps))
print "Dummy initialized array: "
print na_vals
print

Dummy initialized array:
[0 1 2 3 4]

In [15]:
ts_array = pd.TimeSeries(na_vals, index = ldt_timestamps)
print "A timeseries initialized using a numpy array : "
print ts_array
print

A timeseries initialized using a numpy array :
2011-01-01 16:00:00    0
2011-01-02 16:00:00    1
2011-01-03 16:00:00    2
2011-01-04 16:00:00    3
2011-01-05 16:00:00    4
dtype: int64

In [16]:
print "Reading the timeseries for a particular date"
print "Date :  ", ldt_timestamps[1]
print "Value : ", ts_array[ldt_timestamps[1]]
print

Reading the timeseries for a particular date
Date :   2011-01-02 16:00:00
Value :  1

In [17]:
# DataFrames
print "Initializing a list of symbols : "
ls_symbols = ['AAPL', 'GOOG', 'MSFT', 'IBM']
print ls_symbols
print

Initializing a list of symbols :
['AAPL', 'GOOG', 'MSFT', 'IBM']

In [18]:
print "Initializing a dataframe with one value : "
df_single = pd.DataFrame(index=ldt_timestamps, columns=ls_symbols)
df_single = df_single.fillna(0.0)
print df_single
print

Initializing a dataframe with one value :
                     AAPL  GOOG  MSFT  IBM
2011-01-01 16:00:00     0     0     0    0
2011-01-02 16:00:00     0     0     0    0
2011-01-03 16:00:00     0     0     0    0
2011-01-04 16:00:00     0     0     0    0
2011-01-05 16:00:00     0     0     0    0

In [19]:
print "Initializing a dataframe with a numpy array : "
na_vals_2 = np.random.randn(len(ldt_timestamps), len(ls_symbols))
df_vals = pd.DataFrame(na_vals_2, index=ldt_timestamps, columns=ls_symbols)
print df_vals
print

Initializing a dataframe with a numpy array :
                         AAPL      GOOG      MSFT       IBM
2011-01-01 16:00:00 -0.254609  1.060147 -1.014191 -0.531283
2011-01-02 16:00:00  0.901625 -1.477538  1.109155  0.602735
2011-01-03 16:00:00  0.624901 -0.623859 -1.235216  0.135858
2011-01-04 16:00:00  1.487187 -0.501369 -0.455862 -0.412969
2011-01-05 16:00:00  0.430831  0.647976 -1.352059 -0.290644

In [20]:
print "Access the timeseries of a particular symbol : "
print df_vals[ls_symbols[1]]
print

Access the timeseries of a particular symbol :
2011-01-01 16:00:00    1.060147
2011-01-02 16:00:00   -1.477538
2011-01-03 16:00:00   -0.623859
2011-01-04 16:00:00   -0.501369
2011-01-05 16:00:00    0.647976
Name: GOOG, dtype: float64

In [21]:
print "Access the timeseries of a particular date : "
print df_vals.ix[ldt_timestamps[1]]
print

Access the timeseries of a particular date :
AAPL    0.901625
GOOG   -1.477538
MSFT    1.109155
IBM     0.602735
Name: 2011-01-02 16:00:00, dtype: float64